<div class="moduleWrapper layout">
    <div class="moduleHeader">
      <h1>Assessment Configuration</h1>
    </div>
    <div class="layout">
      <mat-tab-group class="layout" animationDuration="0ms">
        <mat-tab label="Assessment Templates">
          <ng-template matTabContent>
            <!-- <div class="addData">
              <button class="btn btnPrimary" mat-raised-button (click)="addUser()" color="primary">Add New User</button>
            </div> -->
            <app-assessment-dashboard></app-assessment-dashboard>
          </ng-template>
        </mat-tab>
        <mat-tab label="Drafts">
          <ng-template matTabContent>
            <!-- <div class="addData">
              <button class="btn btnPrimary" mat-raised-button (click)="addAccount()" color="primary">Add New
                Account</button>
            </div> -->
            <!-- <app-account-dashboard></app-account-dashboard> -->
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>